.todo-container {
    max-width: 30%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #eebdbd;
    border-radius: 5px;
  }
  .todo-container-heading{
    border: solid 1px black;
    margin-bottom: 10px;
    max-width: 98%;

  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;  
    margin-left: 4px;
  }
  
  .input-container input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
  }
  
  .input-container button {
    padding: 8px 15px;
    background-color: #153ade;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4px;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }
  #task-list-box{
    border: solid 1px black;
    max-width: 98%;
  }
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .task-text {
    flex: 1;
  }
  
  .task-buttons button {
    margin-left: 5px;
  }
  
  .task-buttons button:first-child {
    margin-left: 0;
  }
  